* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
}

#cv {
  margin: 20px;
  box-shadow: 0 0 15px 1px gray;
}

.left {
  float: left;
  width: 30%;
  background-color: lightskyblue;
  height: 95vh;
  color: white;
}

.right {
  float: right;
  width: 70%;
  background-color: white;
  height: 80vh;
  overflow: hidden;
}

.clear {
  clear: right;
}
.bottom {
  height: 15vh;
  background-color: rgb(255, 167, 178);
}

.wrap-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.wrap-photo img {
  height: 80%;
  width: 80%;
  border: 1px solid white;
  border-radius: 100%;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.contacts li {
  margin-bottom: 3px;
}

.contacts i {
  color: rgb(255, 167, 178);
  font-size: 24px;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.contacts a {
  font-size: 24px;
  color: white;
}

.contacts a:hover {
  color: rgb(255, 167, 178);
}

span.mail {
  font-size: 20px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-left {
  font-size: 50px;
  color: lightskyblue;
  cursor: pointer;
  display: none;
}

#btn-left:hover {
  color: aquamarine;
}

#btn-left:active {
  color: rgb(255, 167, 178);
}

#btn-right {
  font-size: 50px;
  color: lightskyblue;
  cursor: pointer;
}

#btn-right:hover {
  color: aquamarine;
}

#btn-right:active {
  color: rgb(255, 167, 178);
}

#app-slider {
  height: 100%;
  width: 1000%;
  display: flex;
  transition: all 0.6s ease-in-out;
}

.page {
  width: 10%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#page-1 {
  background-color: rgb(247, 235, 235);
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#page-1-div-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#page-1-menu {
  list-style: upper-alpha;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#page-2 {
  background-color: rgb(233, 255, 233);
}

.page-title {
  font-family: fantasy;
  font-weight: bold;
  letter-spacing: 2px;
}

.div-page-2-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 25px;
}

#page-3 {
  background-color: rgb(248, 249, 235);
}

#page-3-div-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.div-page-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes animation-element {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.activated-animation {
  animation: animation-element 0.5s;
}

@media only screen and (max-width: 1000px) {
  .contacts i {
    margin-right: 5px;
    font-size: 20px;
  }

  span.mail {
    font-size: 16px;
  }

  .contacts i {
    margin-bottom: 15px;
  }

  .div-page-2-content {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  span.mail {
    font-size: 12px;
  }

  .contacts li {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .left {
    float: none;
    width: 100%;
    height: 110%;
    padding-bottom: 20px;
  }

  .right {
    float: none;
    width: 100%;
  }

  .wrap-photo {
    padding-top: 30px;
  }

  .title {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .contacts i {
    font-size: 30px;
    color: white;
    margin-right: 10px;
  }

  span.mail {
    font-size: 20px;
  }

  .contacts ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .contacts a {
    font-size: 16px;
  }

  .contacts i {
    font-size: 18px;
  }

  span.mail {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .div-page-2-content {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .contacts ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .div-page-2-content {
    font-size: 14px;
  }
}
