*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: whitesmoke;
    min-height: 100vh;
}

#cv {
    margin: 20px;
    box-shadow: 0 0 15px 1px gray;
}

.left {
    float: left;
    width: 30%;
    background-color: lightskyblue;
    height: 95vh;
    color: white;
}

.right {
    float: right;
    width: 70%;
    background-color: white;
    height: 80vh;
}

.clear {
    clear: right;
}
.bottom {
    height: 15vh;
    background-color: rgb(255, 167, 178);
}

.wrap-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrap-photo  img {
    height: 80%;
    width: 80%;
    border: 1px solid white;
    border-radius: 100%;

}

.contacts ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.contacts i {
    color: rgb(255, 167, 178);
    font-size: 24px;
    
}

@media only screen and (max-width: 600px) {
    .left {
        float: none;
        width: 100%;
        min-height: 95vh;
    }

    .right {
        float: none;
        width: 100%;
    }

    .wrap-photo {
        padding-top: 30px;
    }

    .title {
        font-size: 50px;
        letter-spacing: 2px;
    }
    
    .contacts i {
        font-size: 50px;
    }

  }